
<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
    <style type='text/css'>
          .error {
                color: red;
                float: right;
            }
    </style>
</head>
<body>
        <form method="POST">
            <table>
                <tbody> 
                    <h1>User Signup</h1>
                    <tr>
                        <td>
                            <label for="username">Username</label>
                        </td>
                        <td>
                            <input type="text" name="username" value="{{username}}"/>
                            <span class="error">{{username_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type="password" name="password"/>
                            <span class="error">{{password_error}}</span>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                        <td>
                            <label for="verify">Verify Password</label>
                        </td>
                        <td>
                            <input type="password" name="verify"/>
                            <span class="error">{{verify_error}}</span>
                        </td>
                    <tr>
                        <td>
                            <label for="email">Email (optional)</label>
                        </td>
                        <td>
                            <input type="text" name="email" value="{{email}}"/>
                            <span class="error">{{email_error}}</span>
                        </td>
                    </tr>
                </tbody>
            </table> 
            <input type="submit" value="Submit Query"/>
        </form>
</body>
</html>

